.inner{max-width: 1280px; min-width:1024px; margin:0 auto;}
h2{font-size:1.875rem;}
h3{font-size:1rem; }

#wrap{}

.popup{position: relative; min-width:1024px;}
.popup img{position: relative; left:calc(50% - 960px);}
.pop_close{position: absolute; top:25px; right:50px;}

#header{}
#section{}
#footer{}

#all_menu{display: none; width:100%; height:100%; position: fixed; z-index:9999;
    background: linear-gradient(to bottom, #ffe8ba 0%,#ffcd59 45%,#ffc32d 81%);}

#all_menu .all_mn{text-align: center; }
#all_menu .all_mn > li{float: left; padding:120px 0 0 90px;}
#all_menu .all_mn > li > a{display: block; color:#543F2E; font-size:1.5rem;
                           font-weight: 800;}
#all_menu .all_mn ul li{padding-bottom: 20px; color:#6D4C2B;}
#all_menu .all_mn ul li:first-child{padding-top:50px; }
#all_menu .all_mn h1{margin-top: 30px;}
#all_menu .menu_close{ position: absolute; top: 30px; right:30px;}

/*********************header****************************/

#header::after{content: ''; display: block; clear: both;}
#header .inner{position: relative;}
#header .logo{width:180px; float: left;}
#header .logo img{width:100%;}
#header .header_top{width:calc(100% - 250px); float: left;
                    text-align: right; margin-top:10px;}
#header .language{display: inline-block; position: relative; 
                  width:4rem;}
#header .language ul{position: absolute; top:1.4rem; left:1rem; 
                     text-align: center; display: none;}
#header .popup_open{position: absolute; top: 0; right:0;
                    width:50px;}
#header .popup_open img{width:100%;}

#header #nav{width:calc(100% - 250px); float: left;
             position: relative; }
#header #nav .depth1 > li{float: left; padding-left:50px;}
#header #nav .depth1 > li > a{display: block; line-height: 60px;}
#header #nav .depth1 > li:hover ul{display: block;}
#header #nav .depth1 ul{background:url(../images/sub_back.png) no-repeat;
                        width:100%; padding:20px 0; padding-left:25px;
                        position: absolute; left:0; top: 50px;
                        display: none; z-index:99999;}
#header #nav .depth1 ul li{display: inline-block; padding:0 30px; color:#f2f2f2; font-size:0.85rem;
                          } /*점은 배경그림으로 만들기*/
#header #nav .depth1 .sp_program{padding-left:55px;}


/*********************section****************************/


#section1{width:100%; height:629px; 
          background-color: darkkhaki; }
#section1 .slide{width:1920px; height:629px;}
#section1 .slide img{width:100%;}

#section2::after{content: ''; display: block; clear: both;}
#section2{padding-top:70px; padding-bottom:110px;}
#section2 h2{margin-left: 200px; color: #543F2E; margin-bottom: 20px;}
#section2 h3{margin-left: 200px; color: #543F2E; margin-bottom: 55px;
             font-weight:100; font-size:0.98rem;}
#section2 .sec2_box{margin-left: 200px;}
#section2 .sec2_box li{float: left; width:295px; height:325px; 
                       border:solid #543F2E 1px; margin-left:1px;
                       text-align: center;}
#section2 .sec2_box li h4{font-size:1.06rem; font-weight: 800; color: #543F2E; margin-top: 35px;}
#section2 .sec2_box .sec2_img{width:120px; height:100px; margin-top:20px; margin-left:80px;}
#section2 .sec2_box img{width:100%;}
#section2 .sec2_box li p{font-size: 0.875rem; margin-top: 30px; margin-bottom:30px; color: #543F2E;}
#section2 .sec2_box li a{font-size: 0.75rem; border: solid #543F2E 1px; color: #543F2E; background-color: #FFC32D; 
                         padding:10px 15px 10px 15px;}}



#section3::after{content: ''; display: block; clear: both;}
#section3{background: url(../images/back01.png) no-repeat ;
          width:100%; height:670px; margin-top:70px; margin-bottom:110px;}
#section3 h2{color: #fff; margin-bottom:20px; text-align: center;
             padding-top:50px;}
#section3 h3{color: #fff; margin-bottom:50px; text-align: center;
            font-weight:100;}
#section3 #banner_wrap{position:relative;width:100%;margin-left:130px;}
#section3 #slide_banner{text-align: center; }
#section3 #slide_banner img{width:100%}
#section3 #prevBtn{position:absolute;left:-150px;top:120px;}
#section3 #nextBtn{position:absolute;right:120px;top:120px;}


#section4::after{content: ''; display: block; clear: both;}
#section4{margin-top:70px; margin-bottom:110px;}
#section4 .s4_tit_img{width:385px; height:370px; position: relative;}
#section4 .s4_tit_img img{width:100%;}
#section4 .sec4_tit h4{}
#section4 .sec4_tit h5{}

#section5::after{content: ''; display: block; clear: both;}
#section5{width:100%; height:544px; margin-top:70px;
          background: url(../images/video_back.jpg);}
#section5 .s5_img{width:1024px; height:544px; margin-left:200px;}
#section5 .s5_img img{width:100%;}

#section6{}
#footer{}

/*********************footer****************************/